<header>
    <form action="/search" method="POST">
        <h2>Search Pokémon</h2>
        <div class="group">
            <input type="text" name="search" placeholder="Pokemon name" id="name">
            <label for="name">Pokémon Name</label>
        </div>
    </form>
</header>